<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ server_name }} - Terraform + Ansible Hybrid Automation is Done for Jay parmar</title>
  </head>
  <body>
    <h1>{{ server_message }}</h1>

    <p>This page is served by Nginx on <strong>{{ server_name }}</strong>.</p>

    <p>Provisioning:</p>
    <ul>
      <li>VPC, Subnets, EC2 instances created with <strong>Terraform</strong></li>
      <li>Nginx and this page deployed using <strong>Ansible</strong></li>
    </ul>
  </body>
</html>

